/* uni-app 默认全局 SCSS 变量 */
$uni-color-primary: #007aff;
$uni-color-success: #4cd964;
$uni-color-warning: #f0ad4e;
$uni-color-error: #dd524d;

$uni-text-color: #333;
$uni-text-color-grey: #999;
$uni-text-color-placeholder: #ccc;

$uni-bg-color: #fff;
$uni-bg-color-grey: #f5f5f5;
$uni-bg-color-hover: #f1f1f1;

$uni-spacing-sm: 10px;
$uni-spacing-base: 15px;
$uni-spacing-lg: 20px;

$uni-border-radius: 8px;
$uni-border-color: #e5e5e5;
